@tailwind base;
@tailwind components;
@tailwind utilities;


.clip {
    /* clip-path: polygon(74% 0, 100% 0, 100% 100%, 0% 100%, 9% 100%, 25% 100%);
     */
     clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.friends-container{
 display: flex;
 gap: 12px;
 margin-bottom: 12px;
 align-items: center;
 padding-block: 8px;
 color: white;
 border-bottom: 1px solid #ddddf6;

 
 @media (max-width:1400px) { 
    font-size: 12px;
    
 }

}

.friends-container div img, .imageDiv {
    width: 48px;
    height: 48px;
    background-color: #ddddf6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #3b3b5d;

}



/* .friend-div{
display: flex;
align-items: center;
gap: 16px;
margin-bottom: 32px;
padding: 24px;

} */
/* 
.friend-div img {
    width: 48px;
    height: 48px;
} */

.message-sent, .message-recieved{
    width: fit-content;
    /* min-width: 100px; */
    padding:  8px;
    font-size: 18px;
    border-radius: 10px;
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 4px;
    word-wrap: wrap;

}
.message-sent{
    background-color: #80a1f6;
    color: white;
    justify-self: end;
}

.message-recieved{
    justify-self: start;
    background-color: white;
    color: black;
}

.time {
    font-size: 12px;
    margin-left: 10px;
    align-self: flex-end;
}

.mobileView{
    display: block;
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* bg-red-300 z-40 w-3/5 hidden h-screen fixed top-0 overflow-y-auto */