@tailwind base;
@tailwind components;
@tailwind utilities;


.clip {
    /* clip-path: polygon(74% 0, 100% 0, 100% 100%, 0% 100%, 9% 100%, 25% 100%);
     */
     clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.friends-container{
 display: flex;
 gap: 12px;
 /* justify-content: space-between; */
 align-items: center;
 margin-bottom: 12px;
}

.friend-div{
display: flex;
align-items: center;
gap: 16px;
margin-bottom: 24px;
padding: 24px;
}

.message-sent, .message-recieved{
    background-color: aqua;
    border-radius: 10px;
    width: fit-content;
    /* min-width: 100px; */
    padding: 8px 16px;

}

.message-sent{
    justify-self: end;
}

.message-recieved{
    justify-self: start;
}

.time {
    font-size: 12px;
    margin-left: 5px;
}